<h3 class="m_20_0">Products</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
           aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Supplier ID</th>
        <th scope="col">Category ID</th>
        <th scope="col">Quantity per unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Units in stock</th>
        <th scope="col">Units on order</th>
        <th scope="col">Reorder level</th>
        <th scope="col">Discontinued</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="productsTableBody">

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal_900" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id">Id</label>
                        <input class="form-control" id="id" placeholder="id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="supplierId">Supplier Id</label>
                        <input class="form-control" id="supplierId" placeholder="Supplier Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="categoryId">Category Id</label>
                        <input class="form-control" id="categoryId" placeholder="Category Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="quantityPerUnit">Quantity per unit</label>
                        <input class="form-control" id="quantityPerUnit" placeholder="Quantity per unit">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="unitPrice">Unit price</label>
                        <input class="form-control" id="unitPrice" placeholder="Unit price">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="unitsInStock">Units in stock</label>
                        <input class="form-control" id="unitsInStock" placeholder="Units in stock">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="unitsOnOrder">Units on order</label>
                        <input class="form-control" id="unitsOnOrder" placeholder="Units on order">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="reorderLevel">Reorder level</label>
                        <input class="form-control" id="reorderLevel" placeholder="Reorder level">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="discontinued">Discontinued</label>
                        <input class="form-control" id="discontinued" placeholder="Discontinued">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="../javascript/products.js"></script>